.register-page{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #c6c9cbcf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


  }
  
  .register-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .register-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-input,
  .register-select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #2b715f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  